@*@model List<string>*@     @*дефинираме типа на модела*@

@{
    ViewData["Name"] = "Pavel";
}
<h1>
    All cats
</h1>


@*@foreach (var cat in (List<string>)ViewData["Cats"])
    {
        <li>@cat</li>
    }*@

@*@foreach (var cat in ViewBag.Cats)
    {
        <li>@cat</li>
    }*@

@*@foreach (var cat in Model)
    {
        <li>@cat</li>
    }*@

@ViewData["Name"]


@model List<CatViewModel>

@foreach (var cat in Model)
    {
        <li>@cat.Name is @cat.Age years old.</li>
    }